/* --- CONFIGURAÇÕES GERAIS --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #0b0c10;
    --secondary-bg: #1f2833;
    --text-color: #c5a059;
    --light-text: #ffffff;
    --neon-cyan: #66fcf1;
    --neon-green: #45f3ff;
    --purple-accent: #8a2be2;
}

body {
    background-color: var(--bg-color);
    color: var(--light-text);
    overflow-x: hidden;
}

/* --- NAVBAR --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgba(11, 12, 16, 0.95);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid var(--purple-accent);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--neon-cyan);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo span {
    color: var(--purple-accent);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: var(--light-text);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--neon-cyan);
    text-shadow: 0 0 10px var(--neon-cyan);
}

/* --- HERO SECTION --- */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-